[submodule "spark"]
	path = spark
	url = git@github.com:blaze-xyz/spark.git
[submodule "app"]
	path = app
	url = git@github.com:blaze-xyz/blaze.git
[submodule "cinder"]
	path = cinder
	url = git@github.com:blaze-xyz/cinder.git
[submodule "website"]
	path = website
	url = git@github.com:blaze-xyz/blaze-site.git
[submodule "kindling"]
	path = kindling
	url = git@github.com:blaze-xyz/kindling.git
[submodule "deploy-notes-action"]
	path = deploy-notes-action
	url = git@github.com:blaze-xyz/deploy-notes-action.git
[submodule "dlocal-signature"]
	path = dlocal-signature
	url = git@github.com:blaze-xyz/dlocal-signature.git